.cards-container {
  display: flex;
  height: 560px;
  width: 497.5px;
  padding: 10px;
  line-height: 21px;
}

.card {
  height: 250px;
  width: 229px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 0.5em;
  border: none;
}

.myTitle {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.3px;
  line-height: 31px;
  font-family: "Work Sans", Arial, sans-serif;
  color: #00b39b;
}

.parag {
  font-size: 13px;
  color: #747474;
  width: 225px;
}

.two-F-Cards {
  margin: 1em;
}
